body {
  background-color: blueviolet;
}

#title {
  font-family: 'Fruktur', cursive;
  text-align: center;
  
}

#question {
  font-weight: bold;
  text-align: left;
}

#artspace {
  text-align: right;
}